includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app
    ignoreErrors:
        - '#Access to an undefined property App\\Models\\User::\$unreadNotifications.#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder<App\\Models\\User>::orderByRelation\(\).#'

    # The level 9 is the highest level
    level: 2

    checkMissingIterableValueType: false
